<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Simple Contact Us form</title>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>  
    <form class="form" action="/progress" method="POST">
        <div class="upload-back">
            <div class="title">
                <h1>폰트 생성 완료</h1>
            </div>

            <a class ="down" href="/download" download>다운 받기</a>
    </form>
</body>
</html>